.breaking-title {
  font-family: 'Flexo', sans-serif;
  font-weight: 700;       /* Bold */
  font-style: normal;     /* "Bold" se controla con font-weight */
  font-size: 28.83px;
  line-height: 120%;
  letter-spacing: 0;
  vertical-align: middle;
  color: #4B5563;         /* equivalente a text-gray-600 de Tailwind */
  margin-bottom: 0.5rem;  /* equivalente a mb-2 */
}

.breaking-title span {
  font-family: 'Flexo', sans-serif;
  font-weight: 400;       /* Regular */
  font-style: normal;
  font-size: 28.83px;
  line-height: 120%;
  letter-spacing: 0;
  vertical-align: middle;
}
.breaking-texto-3 {
  font-family: Flexo;
font-weight: 700;
font-style: Bold;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
}
.modal-backdrop {
  background: transparent !important;
}
