.login__h7 {
  color: #004B8E;
  font-size: 16px;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 300px;
  font-family: Lato, sans-serif;
}

.login__P3-a {
  color: #474747;
  font-size: 14px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 300px;
  font-family: Lato, sans-serif;
}
