.select-charge {
    width: 85%;
}

@media screen and (max-width:992px) {
    .select-charge {
        width: 100%;
    }
}

.margin-botton {
    margin-bottom: 15px;
}

form :disabled .historical__box {
    box-shadow: none !important;
    background-color: #f9f9f9 !important;
}

form :disabled .historical__box input,
form :disabled .historical__box select,
form :disabled .historical__box textarea {
    border: none !important;
    background-color: #f9f9f9 !important;
    text-align: center !important;
    text-align-last: center !important;
    color: #000;
    font-weight: bold;
    font-size: 12px;
}