.title-alias-1 {
  font-family: Flexo;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.text-alias-1 {
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 400;
  font-size: 12.5px;
  line-height: 150%;
  letter-spacing: 0;
  color: #32335C;
  font-feature-settings: "kern" 1;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -ms-font-feature-settings: "kern" 1;
  padding: 4px;
}

.title-text-change-pass {
  font-family: Flexo;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;

}


.error-card {
  background-color: #fdecea;
  color: #d32f2f;
  border-left: 6px solid #d32f2f;
}
.warn-card {
  background-color: #fff8e1;
  color: #f9a825;
  border-left: 6px solid #f9a825;
}
.info-card {
  background-color: #e3f2fd;
  color: #1976d2;
  border-left: 6px solid #1976d2;
}
.success-card {
  background-color: #e8f5e9;
  color: #388e3c;
  border-left: 6px solid #388e3c;
}
.card-message {
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  font-size: 14px;
}
