<form name="form" class="space-y-6" (ngSubmit)="f.valid && register()" #f="ngForm" novalidate autocomplete="off">

  <!-- Número de acceso -->
  <div class="form-group">
    <label class="text-password-3 my-3" for="numberAccess">Número de Acceso:</label>
    <input name="numberAccess"
      class="my-3 block w-full text-input-access-number border border-gray-300 rounded-md shadow-sm p-2 focus:ring-blue-500 focus:border-blue-500"
      type="text" [(ngModel)]="newUser.accessNumber" [readOnly]="readOnlyAccessNumber" appOnlyNumber [appMaxLength]="16"
      required autofocus />
  </div>

  <!-- Reglas -->
  <div class="bg-blue-50 text-blue-800 text-sm p-3 rounded-md border text-pass-5 border-blue-200">
    🔒 La contraseña debe tener 2 Mayúsculas, 2 Minúsculas. Entre 8-14 caracteres, SOLO números y letras, NO caracteres
    especiales.
  </div>

  <!-- Nueva contraseña -->
  <div class="form-group">
    <label class="text-password-3 my-3">Ingresa tu contraseña:</label>
    <div class="flex flex-1 relative mt-1">
      <label class="label mt-2 mx-2">
        <input class="form-check-input" type="radio" name="radioText" [checked]="radioSelected==='new'"
          (click)="handleRadio('new')">
        <span class="check-radio"></span>
      </label>
      <input name="newPassword"
        class="w-full border border-gray-300 rounded-md shadow-sm p-2 pr-10 focus:ring-[#153F7B] focus:border-[#153F7B]"
        required type="{{ visiblePass ? 'text' : 'password' }}" [(ngModel)]="newUser.newPassword"
        (ngModelChange)="onPasswordsChange()" validateEqual="confirmPassword" (click)="handleRadio('new')"
        reverse="true" #txtNewPassword #txtNewPassword2="ngModel" appValidate="password" minlength="7" maxlength="20"
        appOnlyType="alphanumericBasicSymbolsLogin" />
      <div class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer" (click)="showHidePassword()">
        <img *ngIf="!visiblePass" src="assets/svgs/eye_close.svg" alt="Mostrar contraseña" class="w-6 h-6">
        <img *ngIf="visiblePass" src="assets/svgs/eye_open.svg" alt="Ocultar contraseña" class="w-6 h-6">
      </div>
    </div>
  </div>
  <!-- Confirmar contraseña -->
  <div class="form-group">
    <label class="text-password-3 my-3">Confirmar contraseña:</label>
    <div class="flex flex-1 relative mt-1">
      <label class="radio mt-2 mx-2">
        <input class="form-check-input" type="radio" name="radioText" [checked]="radioSelected==='confirm'"
          (click)="handleRadio('confirm')">
        <span class="check-radio"></span>
      </label>
      <input name="confirmPassword"
        class="w-full border border-gray-300 rounded-md shadow-sm p-2 pr-10 focus:ring-[#153F7B] focus:border-[#153F7B]"
        required #confirmPassword="ngModel" type="{{ visibleConfirmPass ? 'text' : 'password' }}"
        [(ngModel)]="newUser.confirmPassword" (ngModelChange)="onPasswordsChange()" (click)="handleRadio('confirm')"
        validateEqual="newPassword" #txtConfirmPassword minlength="7" maxlength="20"
        appOnlyType="alphanumericBasicSymbolsLogin" appValidate="alphanumericBasicSymbolsLogin" />
      <div class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer" (click)="showHideConfirmPassword()">
        <img *ngIf="!visibleConfirmPass" src="assets/svgs/eye_close.svg" alt="Mostrar contraseña" class="w-6 h-6">
        <img *ngIf="visibleConfirmPass" src="assets/svgs/eye_open.svg" alt="Ocultar contraseña" class="w-6 h-6">
      </div>
    </div>
  </div>
  <!-- Teclado virtual -->
  <div class="form-group">
    <div class="keyboard-text" (click)="handleShowKeyboard()">
      <p><em class="fas fa-keyboard text-primary"></em></p>
      <p class="text-password-3 my-3 cursor-pointer">Teclado Virtual</p>
    </div>
    <div class="col-sm-12 keyboard-content">
      <app-virtual-path *ngIf="isVisibleKeyboard" (onKeyChange)="handleKeyChange($event)"></app-virtual-path>
    </div>
    <!-- Tarjeta dinámica -->
    <mat-card *ngIf="(newUser.newPassword?.length || newUser.confirmPassword?.length)" [ngClass]="{
    'error-card': passwordStatus === 'mal',
    'warn-card': passwordStatus === 'debil',
    'info-card': passwordStatus === 'normal',
    'success-card': passwordStatus === 'muybien'
  }" class="mt-4 mx-auto max-w-sm shadow-md rounded-xl">

      <mat-card-content class="flex items-center gap-2 p-3">
        <!-- Icono alineado verticalmente -->
        <mat-icon *ngIf="passwordStatus === 'mal'" color="warn" class="text-lg align-middle">error</mat-icon>
        <mat-icon *ngIf="passwordStatus === 'debil'" color="accent" class="text-lg align-middle">warning</mat-icon>
        <mat-icon *ngIf="passwordStatus === 'normal'" color="primary" class="text-lg align-middle">info</mat-icon>
        <mat-icon *ngIf="passwordStatus === 'muybien'" color="primary"
          class="text-lg align-middle">check_circle</mat-icon>
        <span class="font-medium text-base align-middle">
          {{ passwordMessage }}
        </span>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Componente de fuerza -->
  <div class="form-group">
    <app-strength-password [passwordToVerify]="newUser.newPassword" (onVerifyStrength)="handleVerifyStrength($event)"
      (minLength)="4" (maxLength)="20">
    </app-strength-password>
  </div>
  <!-- Botón -->


  <button type="submit" class="w-full py-2 rounded-md mb-6 transition-colors font-semibold"
    [disabled]="!isPasswordValid" [ngClass]="{
    'bg-[#153F7B] hover:bg-[#153F7B] cursor-pointer text-white': isPasswordValid,
    'bg-[#DDDFE5] cursor-not-allowed text-gray-500': !isPasswordValid
  }">
    Aceptar
  </button>



</form>

<!-- Cancelar -->
<div class="login--container-a login--container-a flex justify-center">
  <p class="login__p--password"><a class="text-blue-600 underline" routerLink="/login">CANCELAR</a></p>
</div>
