.errors {
  max-width: 310px;
}

.check-radio {
  top: -30%;
}

.login__form .form-group p {
  margin-top: 2px;
}

.text-password-3 {
  font-family: Flexo;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  padding-bottom: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #32335C;
}


.text-pass-4 {
  font-family: SF Pro Text;
  font-weight: 400;
  font-size: 12px;
  padding-bottom: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #32335C;
}

.text-pass-5 {
  font-family: Flexo;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #153F7B;
}

.error-card {
  background-color: #fdecea;
  color: #d32f2f;
  border-left: 6px solid #d32f2f;
}
.warn-card {
  background-color: #fff8e1;
  color: #f9a825;
  border-left: 6px solid #f9a825;
}
.info-card {
  background-color: #e3f2fd;
  color: #1976d2;
  border-left: 6px solid #1976d2;
}
.success-card {
  background-color: #e8f5e9;
  color: #388e3c;
  border-left: 6px solid #388e3c;
}
.card-message {
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  font-size: 14px;
}
