.button-selected {
    background-color: #153F7B;
    color: #fff;
    -webkit-box-shadow: 1px 3px 13px -2px #34B1CF;
    -moz-box-shadow: 1px 3px 13px -2px #34B1CF;
    box-shadow: 1px 3px 13px -2px #34B1CF;
}

.transferencia-ext__destination--hidden {
    margin-bottom: 15px;
}

.box--margin-right {
    margin-right: 25px;
}
