<app-source-accounts [accountRequest]="accountDto" [disabled]="isDisabledForm" (onChange)="handleSourceAccountChanged($event)" #sourceAccount></app-source-accounts>
<div class="row  historical__period">
  <div class="col-md-12">
    <app-bar-route></app-bar-route>
    <div class="transferencias__container-title-detail">
      <p class="historical__p--cancel transferencia-ext__p-link helpers__hidden-small" (click)="showCompanyLimits=true"><a>Ver límite diario</a></p>
    </div>
    <h4 class="historical__h4">Selecciona tipo de servicio</h4>
    <div class="row historical__period-options">
      <div class="col-md-12">
        <app-button-group (onChange)="handleGroupChanged($event)">
          <app-button-group-content [disabled]="isDisabledForm" [contentTitle]="'VEHÍCULOS'">
            <app-vehicle-debt [disabled]="isDisabledForm" [batchInformation]="paymentInformation"></app-vehicle-debt>
          </app-button-group-content>
          <app-button-group-content [disabled]="isDisabledForm" [contentTitle]="'INMUEBLES'">
            <app-property-debt [disabled]="isDisabledForm" [batchInformation]="paymentInformation"></app-property-debt>
          </app-button-group-content>
        </app-button-group>
      </div>
    </div>
  </div>
</div>
<app-approvers-and-controllers [approversRequest]="approversDto" [currency]="paymentInformation.currency" [amount]="paymentInformation.amount" [disabled]="isDisabledForm"
                               (onChange)="handleApproversAndControllersChanged($event)" #approversAndControllers></app-approvers-and-controllers>
<app-emails-input [disabled]="isDisabledForm" [batchInformation]="paymentInformation" #emailInput></app-emails-input>

<app-successful-operation-modal [processBatchId]="processBatchNumber" [isSuccessful]="isPaymentSuccessful"
  [operationTypeId]="paymentInformation.operationTypeId" [operationTypeName]="paymentInformation.operationTypeName">
    </app-successful-operation-modal>

<div class="row transferencia-ext__submit">
  <div class="col-md-3 col-sm-4">
    <button class="button__principal historical__button-secondary" [disabled]="isPaymentSuccessful"
      (click)="handleValidate(emailInput.handleValidate()!,approversAndControllers.handleValidate(),approversAndControllers.validateApproversLimit(), sourceAccount.handleValidate()!)">
      PREPARAR TRANSACCIÓN
    </button>
  </div>
  <div class="col-md-3" *ngIf="is_validbatchtoken">
    <button class="button__pre_save historical__button-secondary" [disabled]="isPaymentSuccessful"
      (click)="handleValidateNoToken(emailInput.handleValidate()!,approversAndControllers.handleValidate(),approversAndControllers.validateApproversLimit(), sourceAccount.handleValidate()!)">
      ENVIAR A PREPARACIÓN MASIVA
    </button>
  </div>
  <div class="col-md-3 col-sm-4">
    <p class="historical__p--cancel" *ngIf="!isPaymentSuccessful"><a [routerLink]="['']">CANCELAR</a></p>
    <p class="historical__p--cancel" *ngIf="isPaymentSuccessful"><a [routerLink]="['/service-payments/ruat']">NUEVO</a></p>
  </div>
</div>
<app-token-modal [disabled]="isTokenFormDisabled" [isVisible]="isVisibleToken" (onSubmit)="handleTokenSubmit($event)" (onClose)="isVisibleToken=false"></app-token-modal>
<app-modal [visible]="excedeedAmount" (onClose)="excedeedAmount=false" [size]="'md'">
  <div class="app-modal-header col-md-12 col-sm-12">Saldo insuficiente </div>
  <div class="app-modal-body col-md-12 col-sm-12">Estimado cliente, su operación será rechazada si no cuenta con fondos suficientes al momento de realizar la autorización.</div>
  <div class="app-modal-footer col-md-12 col-sm-12"><button type="button" class="btn btn-primary" (click)="excedeedAmount=false; showToken();">Aceptar</button></div>
</app-modal>
<app-company-limits [isVisible]="showCompanyLimits" (onClose)="showCompanyLimits=false"></app-company-limits>

<app-pre-preparer-modal [isPreSave]="isPreSave" (prePreparer)="handleIsPreparer($event);"></app-pre-preparer-modal>
