<div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-[113%]">
  <svg viewBox="0 0 1728 1117" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-full h-full">
    <g filter="url(#filter0_d_100_553)">
      <path d="M926.364 149.909C1296.1 -538.313 1975.78 -470.894 2269.4 -351.157C1521.24 -1403.62 -47.7063 -845.359 -263.381 179.652C-485.314 1234.41 248.85 1676.94 299.185 1711.26C617.213 1910.31 1162.03 1346.52 978.988 1113.14C795.95 879.772 752.478 477.089 926.364 149.909Z" fill="url(#paint0_linear_100_553)"/>
    </g>
    <g filter="url(#filter1_d_100_553)">
      <path d="M-261 168.005C-357.557 483.488 -402.568 1349.55 428.914 1831.55C1454.8 2426.26 2734.4 1544.32 2190.8 921.493C1926.77 654.543 1974.49 1013.66 1730 1144.5C1684.41 1170.07 1057.5 1076.5 940.001 1060.98L926.501 1062.63C533.808 1108.81 -13.7595 998.648 -261 168.005Z" fill="url(#paint1_linear_100_553)"/>
    </g>
    <defs>
      <filter id="filter0_d_100_553" x="-313.065" y="-924" width="2590.47" height="2685.06" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset/>
        <feGaussianBlur stdDeviation="4"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_100_553"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_100_553" result="shape"/>
      </filter>
      <filter id="filter1_d_100_553" x="-319.899" y="160.005" width="2648.2" height="1876.71" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset/>
        <feGaussianBlur stdDeviation="4"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_100_553"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_100_553" result="shape"/>
      </filter>
      <linearGradient id="paint0_linear_100_553" x1="1431.84" y1="2024.5" x2="3883.25" y2="-566.737" gradientUnits="userSpaceOnUse">
        <stop stop-color="#002B76"/>
        <stop offset="1" stop-color="#34B1CF"/>
      </linearGradient>
      <linearGradient id="paint1_linear_100_553" x1="1205.16" y1="234.741" x2="1445.05" y2="1532.02" gradientUnits="userSpaceOnUse">
        <stop stop-color="#002B76"/>
        <stop offset="0.808385" stop-color="#34B1CF"/>
      </linearGradient>
    </defs>
  </svg>
</div>
