<div class="flex flex-col items-center">
  <div class="mb-[8px]" style="height: 75px">
    <mat-icon svgIcon="register-mobile-success" [inline]="true"></mat-icon>
  </div>
  <h3 class="typography-register-mobile-title mb-[16px]">
    Registro Completado
  </h3>
  <p class="typography-register-mobile-description mb-[16px]">
    Antes de finalizar, por favor tome en cuenta lo siguiente:
  </p>
  <p class="typography-register-mobile-description mb-[110.42px]">
    La afiliación de tu empresa finalizará en el transcurso del día.
    Posteriormente, recibirás un correo con el formulario de afiliación en
    formato PDF y los números de acceso a la plataforma. Adicionalmente,
    recibirás también las instrucciones para activar el Token y comenzar a
    transaccionar.
  </p>

  <div class="w-full mb-[8px]">
    <div class="flex flex-row justify-between items-center">
      <div style="width: 76.58px; height: 76.58px">
        <img
          src="assets/img/register/credinet-mobile-logo.png"
          alt="credinet-mobile-logo"
        />
      </div>
      <div style="width: 203.42px">
        <p class="typography-register-mobile-download-title">
          Descargue la app de Credinet Móvil
        </p>
        <p class="typography-register-mobile-download-description">
          Active el token y comienze a transaccionar de la manera más segura.
        </p>
      </div>
    </div>
  </div>
  <div class="w-full">
    <div class="flex flex-row justify-between">
      <a
        mat-flat-button
        href="https://play.google.com/store/apps/details?id=bo.com.bcp.credinetweb"
        target="_blank"
        class="register-mobile-store-button"
      >
        <mat-icon svgIcon="app-store"></mat-icon>
        <p
          style="color: white"
          class="typography-register-mobile-download-description"
        >
          App Store
        </p>
      </a>
      <a
        mat-flat-button
        href="https://play.google.com/store/apps/details?id=bo.com.bcp.credinetweb"
        target="_blank"
        class="register-mobile-store-button"
      >
        <mat-icon svgIcon="google-play"></mat-icon>
        <p
          style="color: white"
          class="typography-register-mobile-download-description"
        >
          Google Play
        </p>
      </a>
    </div>
  </div>
</div>
