<div class="row">
    <div class="col-md-10">
      <app-bar-route></app-bar-route>
      <h4 class="historical__h4">Seleccione un periodo de consultas</h4>
        <div class="row historical__period-options">
          <div class="col-md-10">
            <app-button-group (onChange)="handleGroupChanged($event)">
              <app-button-group-content [contentTitle]="'Por Fechas'">
                <app-date-range [(ngModel)]="dateRange" [options]="optionsDateRange" class="col-md-10"
                  (ngModelChange)="changeDate()"></app-date-range>
                <app-information-panel [message]="message" [type]="'attention'" [visible]="!flag"></app-information-panel>
              </app-button-group-content>
              <app-button-group-content [contentTitle]="'Por Mes'">
                <app-select-month (onChangeFilter)="handleMonthYear($event)"></app-select-month>
              </app-button-group-content>
            </app-button-group>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-bar-route [isLast]="true"></app-bar-route>
      <h4 class="historical__h4">Opciones de búsqueda</h4>
      <div class="form-group">
        <div class="row historical__box">
          <div class="col-md-3">
            <label class="transferencias__label">N° Lote:</label>
            <input type="text" name="batchIds" [(ngModel)]="batchIdInput" class="input-simple"
              placeholder="N° de Lote" appOnlyType="integer" appValidate="integer"
              #batchIds="ngModel" maxlength="7" autocomplete="off" />
            <app-show-errors [control]="batchIds"></app-show-errors>
          </div>
          <div class="col-md-3">
            <label class="transferencias__label">N° EBS:</label>
            <input type="text" name="ebsNumbers" [(ngModel)]="ebsNumber" class="input-simple"
              placeholder="N° EBS" appOnlyType="alphanumericBasicSymbols" appValidate="alphanumericBasicSymbols"
              #ebsNumbers="ngModel" maxlength="15" autocomplete="off" />
            <app-show-errors [control]="ebsNumbers"></app-show-errors>
          </div>
          <div class="col-sm-3">
            <label class="transferencias__label">Seleccione Cuenta:</label>
            <select class="input-simple" name="account" [(ngModel)]="accountNumber" #account>
              <option value=''>Todos</option>
              <option *ngFor="let item of accounts" [ngValue]="item.number">{{item.formattedNumber}}</option>
            </select>
          </div>
          <div class="col-md-3">
            <label class="transferencias__label">Tipo de Operación:</label>
            <select name="typeOperation" class="input-simple" [(ngModel)]="operationSelected">
              <option [ngValue]="0">(Todos)</option>
              <option *ngFor="let operation of operationTypeResult" [ngValue]="operation.id">
                {{ operation.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  
  <div class="row haberes__submit">
    <div class="col-md-2 col-sm-4">
      <button class="historical__btn-submit button__principal" (click)="handleSearch()"><em class="icon-Lupa"></em>
        BUSCAR</button>
    </div>
  </div><br>
  
    <app-information-panel [message]="'No se encontro ningún registro según los parametros de búsqueda.'"
      [type]="'attention'" [visible]="isSearch && totalItems === 0"></app-information-panel>
  
  <div class="row" *ngIf="totalItems > 0">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="cw-table table-striped"><caption></caption>
          <thead>
            <tr>
              <th>Lote</th>
              <th *ngIf="isVisibleEBS">Nro. EBS</th>
              <th>Transacción</th>
              <th>Cuenta origen</th>
              <th>Importe</th>
              <th>Moneda</th>
              <th>Fecha transacción</th>
              <th style="align-items: center;">Comprobante</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let voucher of vouchers">
              <td>{{voucher.id}}</td>
              <td class="text-center" *ngIf="isVisibleEBS">{{voucher.ebsTransactionNumber}}</td>
              <td style="align-items:left">{{voucher.nameOperation}}</td>
              <td>{{voucher.formattedAccount}}</td>
              <td style="align-items:right">{{voucher.amount | number: '1.2-2'}}</td>
              <td style="align-items:right">{{voucher.Currency}}</td>
              <td>{{voucher.dateCreation | date: 'dd/MM/yyyy'}}</td>
              <td style="align-items: center;">
                <div *ngIf="!voucher.isVisibleButton">
                  <a (click)="getReportVoucher(voucher)"><em class="fa fa-arrow-circle-down button__size"></em></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class="mt-4">
        <app-pagination [rowsPerPage]="rowsPerPage" [isCenter]="true" [totalItems]="totalItems" [maxSize]="pageItems"
          (onChange)="handleChangePagination($event)" (onChangeRowsPerPage)="handleViewRows($event)"></app-pagination>
      </div>
    </div>
  </div>