.all-width {
  width: 100% !important;
}

.all-width textarea {
  width: 100% !important;
}

/* new Qr*/
.select-account {
  width: 85%;
}

.account-flag {
  display: block;
  align-content: center;
}
/* new */

.account-flag {
  display: block;
  align-content: center;
}

.align-account {
  display: inline-block
}

.alert-information {
  margin-top: 10px;
}

.transferencias__select-account {
  width: 50%;
}

.input-account-qr {
  width: 85%;
}