<fieldset [disabled]="disabled"><legend></legend><br>
    <app-amount-account-verificated [amount]="batchInformation.amount" [totalErrors]="totalErrors"
      [totalCorrects]="totalCorrects" [haveErrors]="haveErrors" [errorsDetail]="errorsDetail"
      [currency]="batchInformation.currency" (onAddRow)="handleShowAdditionForm()">
    </app-amount-account-verificated>
    <div *ngIf="visible">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12  col-sm-12">
              <table class="cw-table table-striped"><caption></caption>
                <thead>
                  <tr>
                    <th *ngIf="headers.line">Linea</th>
                    <th *ngIf="headers.account">Cuenta destino</th>
                    <th *ngIf="headers.gloss">Glosa</th>
                    <th *ngIf="headers.amount">Monto</th>
                    <th *ngIf="headers.documentType">Tipo de documento</th>
                    <th *ngIf="headers.document">Documento</th>
                    <th *ngIf="headers.documentExtension">Extensión documento</th>
                    <th *ngIf="headers.titular">Titular</th>
                    <th *ngIf="headers.firstDetail">Detalle 1</th>
                    <th *ngIf="headers.secondDetail">Detalle 2</th>
                    <th *ngIf="headers.email">Email proveedor</th>
                    <th>Acciones</th>
                    <th>
                      <button (click)="showFilter=!showFilter" class="table-filter" #insideButton><em class="fas fa-plus"></em></button>
                      <div class="historical__box table-filter--hidden" [ngClass]="{'show-filter':showFilter}" #insideElement>
                        <ul>
                          <li>
                            <label class="checkbox">
                              <input type="checkbox" [(ngModel)]="headers.line">
                              <span class="check"></span>
                            </label>
                            <p>Linea</p>
                          </li>
                          <li>
                            <label class="checkbox">
                              <input type="checkbox" [(ngModel)]="headers.account">
                              <span class="check"></span>
                            </label>
                            <p>Cuenta destino</p>
                          </li>
                          <li>
                            <label class="checkbox">
                              <input type="checkbox" [(ngModel)]="headers.gloss">
                              <span class="check"></span>
                            </label>
                            <p>Glosa</p>
                          </li>
                          <li>
                            <label class="checkbox">
                              <input type="checkbox" [(ngModel)]="headers.amount">
                              <span class="check"></span>
                            </label>
                            <p>Monto</p>
                          </li>
                          <li>
                            <label class="checkbox">
                              <input type="checkbox" [(ngModel)]="headers.documentType">
                              <span class="check"></span>
                            </label>
                            <p>Tipo de documento</p>
                          </li>
                          <li>
                            <label class="checkbox">
                              <input type="checkbox" [(ngModel)]="headers.document">
                              <span class="check"></span>
                            </label>
                            <p>Document</p>
                          </li>
                          <li>
                            <label class="checkbox">
                              <input type="checkbox" [(ngModel)]="headers.documentExtension">
                              <span class="check"></span>
                            </label>
                            <p>Extensión documento</p>
                          </li>
                          <li>
                            <label class="checkbox">
                              <input type="checkbox" [(ngModel)]="headers.titular">
                              <span class="check"></span>
                            </label>
                            <p>Titular</p>
                          </li>
                          <li>
                            <label class="checkbox">
                              <input type="checkbox" [(ngModel)]="headers.secondDetail">
                              <span class="check"></span>
                            </label>
                            <p>Detalle 2</p>
                          </li>
                          <li>
                            <label class="checkbox">
                              <input type="checkbox" [(ngModel)]="headers.firstDetail">
                              <span class="check"></span>
                            </label>
                            <p>Detalle 1</p>
                          </li>
                          <li>
                            <label class="checkbox">
                              <input type="checkbox" [(ngModel)]="headers.email">
                              <span class="check"></span>
                            </label>
                            <p>Email Proveedor</p>
                          </li>
                        </ul>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr [ngClass]="{'error':row.isError}" *ngFor="let row of spreadsheetPerPage" data-toggle="tooltip"
                    data-placement="top" data-html="true" title="{{row.errorMessages}}">
                    <td *ngIf="headers.line" title="Linea">{{row.line}}</td>
                    <td *ngIf="headers.account" title="Cuenta destino">{{row.accountNumber}}</td>
                    <td *ngIf="headers.gloss" title="Glosa">{{row.glossPayment}}</td>
                    <td *ngIf="headers.amount" title="Monto">{{row.amount | number: '1.2-2'}}</td>
                    <td *ngIf="headers.documentType" title="Tipo de documento">{{row.documentType}}</td>
                    <td *ngIf="headers.document" title="Documento">{{row.documentNumber}}</td>
                    <td *ngIf="headers.documentExtension" title="Extensión documento">{{row.documentExtension}}</td>
                    <td *ngIf="headers.titular" title="Titular">{{row.titularName}}</td>
                    <td *ngIf="headers.firstDetail" title="Detalle 1">{{row.firstDetail}}</td>
                    <td *ngIf="headers.secondDetail" title="Detalle 2">{{row.secondDetail}}</td>
                    <td *ngIf="headers.email" title="Email proveedor">{{row.mail}}</td>
                    <td title="Acciones" class="actions" colspan="2">
                      <a (click)="handleShowEditForm(row)"><em class="fas fa-edit"></em></a>
                      <a (click)="handleTryToRemoveRow(row.line)"><em class="fas fa-trash"></em></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-modal [visible]="showDetailForm" (onClose)="showDetailForm=false" [size]="'lg'" [manualCloseModal]="true">
      <div class="app-modal-header col-md-12 col-sm-12">{{operation === 1 ? 'Modificar fila' : 'Agregar fila'}}</div>
      <div class="app-modal-body col-md-12 col-sm-12">
        <form name="detailForm" #detailForm="ngForm" novalidate autocomplete="off">
          <div class="row haberes__modal__inputs">
            <div class="col-md-6 inputs ">
              <div class="input-numero">
                <label>Cuenta destino</label>
                <input class="input_modal_1" type="text" name="account" [(ngModel)]="detail.accountNumber" #account="ngModel" required
                  appOnlyType="integer" appValidate="integer" minlength="5" [appMaxLength]="20">
                <app-show-errors [control]="account"> </app-show-errors>
              </div>
            </div>
            <div class="col-md-6 inputs ">
              <div class="input-numero">
                <label>Glosa</label>
                <input class="input_modal_1" type="text" name="gloss" [(ngModel)]="detail.glossPayment" #gloss="ngModel" required
                  appOnlyType="alphanumericBasicSymbols" appValidate="alphanumericBasicSymbols" maxlength="30">
                <app-show-errors [control]="gloss"></app-show-errors>
              </div>
            </div>
          </div>
          <div class="row haberes__modal__inputs">
            <div class="col-md-6 inputs ">
              <div class="input-numero">
                <label>Monto</label>
                <input class="input_modal_1" type="text" name="amount" [(ngModel)]="detail.amount" #amount="ngModel" required mask-money
                  [appMaxLength]=16 appValidate="majorZero">
                <app-show-errors [control]="amount"></app-show-errors>
              </div>
            </div>
            <div class="col-md-6 inputs ">
              <div class="input-numero">
                <label>Tipo de documento</label>
                <select class="historical__select-account input-simple helpers__select-modal" name="documentType"
                  [(ngModel)]="detail.documentType" #documentType="ngModel" required (ngModelChange)="selectDocType()">
                  <option *ngFor="let type of documentTypes" [ngValue]="type.description">{{type.description}}</option>
                </select>
                <app-show-errors [control]="documentType"></app-show-errors>
              </div>
            </div>
          </div>
          <div class="row haberes__modal__inputs">
            <div class="col-md-6 inputs ">
              <div class="input-numero">
                <label>Número de documento</label>
                <input class="input_modal_1" type="text" name="document" [(ngModel)]="detail.documentNumber" #document="ngModel"
                  appOnlyType="integer" appValidate="integer" required only-number [appMaxLength]="12">
                <app-show-errors [control]="document"></app-show-errors>
              </div>
            </div>
            <div class="col-md-6 inputs ">
              <div class="input-numero">
                <label>Extensión de documento</label>
                <select name="documentExtension" class="historical__select-account input-simple helpers__select-modal"
                  [(ngModel)]="detail.documentExtension" #documentExtension="ngModel" required
                  *ngIf="detail.documentType === 'C.I.'">
                  <option *ngFor="let extension of documentExtensions" [ngValue]="extension.code">
                    {{extension.description}}</option>
                </select>
                <div *ngIf="detail.documentType === 'PASAPORTE'">
                  <input class="input_modal_1" type="text" name="documentExtension" [(ngModel)]="detail.documentExtension"
                    #documentExtension="ngModel" maxlength="3" appOnlyType="alphanumericBasicSymbols"
                    appValidate="alphanumericBasicSymbols">
                  <app-show-errors [control]="documentExtension"></app-show-errors>
                </div>
              </div>
            </div>
          </div>
          <div class="row haberes__modal__inputs">
            <div class="col-md-6 inputs ">
              <div class="input-numero">
                <label>Detalle 1</label>
                <input class="input_modal_1" type="text" name="firstDetail" [(ngModel)]="detail.firstDetail" #firstDetail="ngModel"
                  appOnlyType="alphanumericBasicSymbols" appValidate="alphanumericBasicSymbols" maxlength="40">
                <app-show-errors [control]="firstDetail"> </app-show-errors>
              </div>
            </div>
            <div class="col-md-6 inputs">
              <div class="input-numero">
                <label>Detalle 2</label>
                <input class="input_modal_1" type="text" name="secondDetail" [(ngModel)]="detail.secondDetail" #secondDetail="ngModel"
                  appValidate="alphanumericBasicSymbols" appOnlyType="alphanumericBasicSymbols" maxlength="40">
                <app-show-errors [control]="secondDetail"></app-show-errors>
              </div>
            </div>
          </div>
          <div class="row haberes__modal__inputs">
            <div class="col-md-6 inputs ">
              <div class="input-numero">
                <label>Correo electrónico proveedor</label>
                <input class="input_modal_1" type="email" name="email" [(ngModel)]="detail.mail" #email="ngModel" appValidate="emailOptional"
                  [appMaxLength]="90">
                <app-show-errors [control]="email"></app-show-errors>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="app-modal-footer col-md-12 col-sm-12">
        <div class="row modal__container-button" style="justify-content: center; display: flex;">
          <div class="col-md-4 col-xs-12" style="text-align: center;">
            <button class="button__principal modal__button"
              (click)="handleValidate()">{{operation===1?'ACEPTAR':'GUARDAR'}}</button>
          </div>
        </div>
        <div class="row modal__cancelar" style="justify-content: center; display: flex;">
          <div class="col-md-12 col-xs-12" style="text-align: center;">
            <a (click)="handleCancel()" class="link-cancel-modal">CANCELAR</a>
          </div>
        </div>
      </div>
    </app-modal>
    <app-modal [visible]="showRemoveRowForm" (onClose)="showRemoveRowForm=false" [size]="'sm'">
      <div class="app-modal-header col-md-12 col-sm-12">Eliminación de información</div>
      <div class="app-modal-body col-md-12 col-sm-12">¿Está seguro de eliminar esta línea de la planilla?</div>
      <div class="app-modal-footer col-md-12 col-sm-12">
        <div class="row modal__container-button">
          <div class="col-md-12 col-xs-12 d-flex justify-content-center">
            <button class="button__principal modal__button" (click)="handleRemove()">ELIMINAR</button>
          </div>
        </div>
        <div class="row modal__cancelar justify-content-center">
              <div class="col-md-12 col-xs-12 d-flex justify-content-center">
            <a (click)="showRemoveRowForm=false" class="link-cancel-modal">CANCELAR</a>
          </div>
        </div>
      </div>
    </app-modal>
  </fieldset>
