<app-header-dashboard></app-header-dashboard>
<section class="content container-fluid">
  <section class="row-section section-main justify-content-center">
    <div class="offset-md-1 col-md-10">
      <!-- <app-chat></app-chat> -->
      <router-outlet *ngIf="!this.dataService.noAccounts"></router-outlet>
      <app-depecrated-information-panel *ngIf="this.dataService.noAccounts"
        [message]="'No existen cuentas para la operación solicitada, por favor comuniquese con el administrador'"></app-depecrated-information-panel>
    </div>
    <div class="pr_container">
      <a [routerLink]="['/operations/claimRequest']">
        <img src="assets/img/Punto_Reclamo_logo.png" alt="claim" class="position-claim" width="68" height="68">
      </a>
    </div>
  </section>
  <app-footer></app-footer>
</section>

<app-modal [visible]="isVisibleSesion" [size]="'md'" [manualCloseModal]="true">
  <div class="app-modal-header col-md-12 col-sm-12">CIERRE DE SESIÓN</div>
  <div class="app-modal-body col-md-12 col-sm-12 m-0 p-0">
    <strong>¿Desea continuar en Credinet Web?</strong>
  </div>
  <div class="app-modal-footer col-md-12 col-sm-12">
    <div class="row">
      <div class="offset-md-2 col-md-4">
        <button type="button" class="button__secondary modal__button" (click)="redirectLogin()">NO</button>
      </div>
      <div class="col-md-4">
        <button type="button" class="button__principal modal__button" (click)="restart()">SI</button>
      </div>
    </div>
  </div>
</app-modal>
