<div *ngIf="isVisibleList">
    <div class="row historical__options-table">
        <div class="col-md-3 col-sm-12">
            <p class="historical__p">Total de operación en el periodo: {{totalItems}}</p>
        </div>
        <div class="offset-md-2 col-md-5 historical__button--align">
            <p class="historical__p">Formato para exportar</p>
            <select class="input-simple historical__input-table" [(ngModel)]="reportType" #typeReport>
                <option *ngFor="let det of resultFilter" [ngValue]="det.code">
                    {{ det.value }}
                  </option>
            </select>
        </div>
        <div class="col-md-2 col-sm-6 historical__button--align">
            <button class="button__secondary historical__button-secondary"
                (click)="getReport(headers, reportType)">EXPORTAR</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <table class="cw-table table-striped"><caption></caption>
                <thead>
                    <tr>
                        <th scope="col" *ngIf="headers.Col01">Fecha</th>
                        <th scope="col" *ngIf="headers.Col02">Hora</th>
                        <th scope="col" *ngIf="headers.Col03">Glosa</th>
                        <th scope="col" *ngIf="headers.Col04">Importe</th>
                        <th scope="col" *ngIf="headers.Col05">Saldo Disponible</th>
                        <th scope="col" *ngIf="headers.Col06">Tipo</th>
                        <th scope="col" *ngIf="headers.Col07">Sucursal Agencia</th>
                        <th scope="col" *ngIf="headers.Col08">Usuario</th>
                        <th scope="col" *ngIf="headers.Col09">Nro. Operación</th>
                        <th scope="col" *ngIf="flagHistTr && headers.Col10">Nro. Trans.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let list of resultHistorical.tableInitial">
                        <td *ngIf="headers.Col01">{{list.onlyDate}}</td>
                        <td *ngIf="headers.Col02">{{list.hora}}</td>
                        <td *ngIf="headers.Col03">{{list.moveName}}</td>
                        <td *ngIf="headers.Col04">{{list.amount | number: '1.2-2'}}</td>
                        <td *ngIf="headers.Col05">{{list.balanceClosing | number: '1.2-2'}}</td>
                        <td *ngIf="headers.Col06">{{list.utc}}</td>
                        <td *ngIf="headers.Col07">{{list.agency}}</td>
                        <td *ngIf="headers.Col08">{{list.users}}</td>
                        <td *ngIf="headers.Col09">{{list.sequentialCode}}</td>
                        <td *ngIf="flagHistTr && headers.Col10">{{list.transactionNumber}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12  col-sm-12">
            <table class="cw-table table-striped"><caption></caption>
                <thead>
                    <tr>
                        <th scope="col" *ngIf=false>Id </th>
                        <th scope="col" *ngIf="headers.Col01">Fecha</th>
                        <th scope="col" *ngIf="headers.Col02">Hora</th>
                        <th scope="col" *ngIf="headers.NroLote">Nro Lote</th>
                        <th scope="col" *ngIf="headers.Ordenante">Ordenante</th>
                        <th scope="col" *ngIf="headers.Benifi">Beneficiario</th>
                        <th scope="col" *ngIf="headers.Document">N° Documento</th>
                        <th scope="col" *ngIf="headers.Operation">Descripción Operación</th>
                        <th scope="col" *ngIf="headers.Channel">Canal</th>
                        <th scope="col" *ngIf="headers.Col03">Glosa</th>
                        <th scope="col" *ngIf="headers.Col04">Importe</th>
                        <th scope="col" *ngIf="headers.Col05">Saldo Disponible</th>
                        <th scope="col" *ngIf="headers.Col06">Tipo</th>
                        <th scope="col" *ngIf="headers.Col07">Sucursal Agencia</th>
                        <th scope="col" *ngIf="headers.Col08">Usuario</th>
                        <th scope="col" *ngIf="headers.Col09"> Nro. Operación </th>
                        <th scope="col" *ngIf="flagHistTr && headers.Col10">Nro. Trans.</th>
                        <th scope="col" *ngIf="resultHistorical.isSofia && headers.ProviderId">ID Proveedor</th>
                        <th scope="col" *ngIf="resultHistorical.isSofia && headers.EBSTransactionNumber">Nro. Transacción EBS</th>
                        <th scope="col"> Solicitar Certificado </th>

                        <th class="filter">
                            <button (click)="showFilter=!showFilter" class="table-filter" #insideButton><em
                                    class="fas fa-plus"></em></button>
                            <div class="historical__box table-filter--hidden" [ngClass]="{'show-filter':showFilter}"
                                #insideElement>
                                <ul>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" [(ngModel)]="headers.Col01">
                                            <span class="check"></span>
                                        </label>
                                        <p>Fecha</p>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" [(ngModel)]="headers.Col02">
                                            <span class="check"></span>
                                        </label>
                                        <p>Hora</p>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" [(ngModel)]="headers.Col03">
                                            <span class="check"></span>
                                        </label>
                                        <p>Glosa</p>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" [(ngModel)]="headers.Col04">
                                            <span class="check"></span>
                                        </label>
                                        <p>Importe</p>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" [(ngModel)]="headers.Col05">
                                            <span class="check"></span>
                                        </label>
                                        <p>Saldo disponibe</p>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" [(ngModel)]="headers.Col06">
                                            <span class="check"></span>
                                        </label>
                                        <p>Tipo</p>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" [(ngModel)]="headers.Col07">
                                            <span class="check"></span>
                                        </label>
                                        <p>Sucursal</p>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" [(ngModel)]="headers.Col08">
                                            <span class="check"></span>
                                        </label>
                                        <p>Usuario</p>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" [(ngModel)]="headers.Col09">
                                            <span class="check"></span>
                                        </label>
                                        <p>Nro.Operación</p>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" [(ngModel)]="headers.NroLote">
                                            <span class="check"></span>
                                        </label>
                                        <p>Número de lote</p>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" [(ngModel)]="headers.Benifi">
                                            <span class="check"></span>
                                        </label>
                                        <p>Beneficiario</p>
                                    </li>
                                    <li>
                                            <label class="checkbox">
                                                <input type="checkbox" [(ngModel)]="headers.Document">
                                                <span class="check"></span>
                                            </label>
                                            <p>N° Documento</p>
                                        </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" [(ngModel)]="headers.Ordenante">
                                            <span class="check"></span>
                                        </label>
                                        <p>Ordenante</p>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" [(ngModel)]="headers.Operation">
                                            <span class="check"></span>
                                        </label>
                                        <p>Descripción de operación</p>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" [(ngModel)]="headers.Channel">
                                            <span class="check"></span>
                                        </label>
                                        <p>Canal</p>
                                    </li>
                                    <li *ngIf="flagHistTr">
                                        <label class="checkbox">
                                            <input type="checkbox" [(ngModel)]="headers.Col10">
                                            <span class="check"></span>
                                        </label>
                                        <p>Nro. Transacción</p>
                                    </li>
                                    <li *ngIf="resultHistorical.isSofia">
                                        <label class="checkbox">
                                            <input type="checkbox" [(ngModel)]="headers.ProviderId">
                                            <span class="check"></span>
                                        </label>
                                        <p>ID Proveedor</p>
                                    </li>
                                    <li *ngIf="resultHistorical.isSofia">
                                        <label class="checkbox">
                                            <input type="checkbox" [(ngModel)]="headers.EBSTransactionNumber">
                                            <span class="check"></span>
                                        </label>
                                        <p>Nro. Transacción EBS</p>
                                    </li>
                                </ul>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let list of resultHistoricalPagination">
                        <td *ngIf="headers.Col01">{{list.onlyDate}}</td>
                        <td *ngIf="headers.Col02">{{list.hora}}</td>
                        <td *ngIf="headers.NroLote">{{list.numberLot}}</td>
                        <td *ngIf="headers.Ordenante">{{list.ordenador}}</td>
                        <td *ngIf="headers.Benifi">{{list.beneficiary}}</td>
                        <td *ngIf="headers.Document">{{list.documentNumber}}</td>
                        <td *ngIf="headers.Operation"> {{list.description}} </td>
                        <td *ngIf="headers.Channel"> {{list.channel}} </td>
                        <td *ngIf="headers.Col03">{{list.moveName}}</td>
                        <td *ngIf="headers.Col04">{{list.amount | number: '1.2-2'}}</td>
                        <td *ngIf="headers.Col05">{{list.balanceClosing | number: '1.2-2'}}</td>
                        <td *ngIf="headers.Col06">{{list.utc}}</td>
                        <td *ngIf="headers.Col07">{{list.agency}}</td>
                        <td *ngIf="headers.Col08">{{list.users}}</td>
                        <td *ngIf="headers.Col09">{{list.sequentialCode}}</td>
                        <td scope="col" *ngIf="flagHistTr && headers.Col10">{{list.transactionNumber}}</td>
                        <td scope="col" *ngIf="resultHistorical.isSofia && headers.ProviderId">{{list.providerId}}</td>
                        <td scope="col" *ngIf="resultHistorical.isSofia && headers.EBSTransactionNumber">{{list.EBSTransactionNumber}}</td>
                        <td style="text-align:center">
                            <label class="checkbox">
                                <input type="checkbox" (change)="handleCheckedRow(list)">
                                <span class="check"></span>
                            </label>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table><br>
            <table class="cw-table table-striped"><caption></caption>
                <thead>
                    <tr>
                        <th scope="col" *ngIf="headers.Col01">Fecha</th>
                        <th scope="col" *ngIf="headers.Col02">Hora</th>
                        <th scope="col" *ngIf="headers.Col03">Glosa</th>
                        <th scope="col" *ngIf="headers.Col04">Importe</th>
                        <th scope="col" *ngIf="headers.Col05">Saldo Disponible</th>
                        <th scope="col" *ngIf="headers.Col06">Tipo</th>
                        <th scope="col" *ngIf="headers.Col07">Sucursal Agencia</th>
                        <th scope="col" *ngIf="headers.Col08">Usuario</th>
                        <th scope="col" *ngIf="headers.Col09">Nro. Operación</th>
                        <th scope="col" *ngIf="flagHistTr && headers.Col10">Nro. Trans.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let list of resultHistorical.tableEnd">
                        <td *ngIf="headers.Col01">{{list.onlyDate}}</td>
                        <td *ngIf="headers.Col02">{{list.hora}}</td>
                        <td *ngIf="headers.Col03">{{list.moveName}}</td>
                        <td *ngIf="headers.Col04">{{list.amount | number: '1.2-2'}}</td>
                        <td *ngIf="headers.Col05">{{list.balanceClosing | number: '1.2-2'}}</td>
                        <td *ngIf="headers.Col06">{{list.utc}}</td>
                        <td *ngIf="headers.Col07">{{list.agency}}</td>
                        <td *ngIf="headers.Col08">{{list.users}}</td>
                        <td *ngIf="headers.Col09">{{list.sequentialCode}}</td>
                        <td *ngIf="flagHistTr && headers.Col10">{{list.transactionNumber}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-12">
                    <app-pagination [rowsPerPage]="rowsPerPage" [totalItems]="numeroFilas" [maxSize]="pageItems"
                        [isCenter]="true" (onChange)="handleChangePage($event)"
                        (onChangeRowsPerPage)="handleViewRows($event)"> </app-pagination>
                </div>
                <div class="col-md-3 pull-right mt-3">
                    <button class="button__secondary historical__button-secondary button-program"
                        (click)="handleCertificate()" [disabled]="btnCertificate">SOLICITAR CERTIFICADO</button>
                </div>
            </div>
        </div>
    </div>
</div>
