.manuales-texto {
  font-family: 'Flexo', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  vertical-align: middle;
}
.manuales-texto-op2 {
  font-family: 'Flexo', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 33.51px;
  letter-spacing: 0;
  vertical-align: middle;
}
