<app-information-panel *ngIf="!isVisibleGpi && !isAuthorize && showGPI" [message]="messageGPI" [type]="'attention'"></app-information-panel>
<div *ngIf="showGPI && !isAuthorize">
  <app-stepper-detail *ngIf="isVisibleGpi" [currentStep]="totalGpiDates">
    <div *ngFor="let processe of processes; index as i">
        <app-step title="{{processe}}"></app-step>
    </div>
  </app-stepper-detail>

  <div class="row" *ngIf="isVisibleGpi">
      <div *ngFor="let item of gpiDatesResult; index as i" class="wrapper">
          <div class="col-md-{{sizeCol}}">
          <div class="transferencias__card">
            <div class="home__card__item">
              <p class="home__card__item__small-title text-small">Fecha de Envío</p>
              <p class="home__card__item__small-value text-small">{{item.emissionDate}}</p>
            </div>
            <div class="home__card__item">
              <p class="home__card__item__small-title text-small">Monto</p>
              <p class="home__card__item__small-value text-small">{{item.amountOne | number: '1.2-2'}} {{item.currencyAmountOne}}</p>
            </div>
            <div class="home__card__item">
              <p class="home__card__item__small-title text-small">País Receptor</p>
              <p class="home__card__item__small-value text-small">{{item.countryReceiver == 'NO HAY DATOS' ? '':item.countryReceiver}}</p>
            </div>
            <div class="home__card__item">
              <p class="home__card__item__small-title text-small">Fecha de Proceso</p>
              <p class="home__card__item__small-value text-small">{{item.receptionDate=='NO HAY DATOS'?'':item.receptionDate}}</p>
            </div>
              </div>
            </div>
      </div>
  </div>
  <br>
</div>

<div class="row" *ngIf="!isVisibleFormDetail">
  <div class="col-md-12">
    <div class="transferencias__card align-left">
      <div class="home__card__item">
        <p class="home__card__item__small-title">Número de lote</p>
        <p class="home__card__item__small-value">{{transfer.processBatchId}}</p>
      </div>
      <div class="home__card__item">
        <p class="home__card__item__small-title">Cuenta origen</p>
        <p class="home__card__item__small-value">{{transfer.sourceAccount}}</p>
      </div>
      <div class="home__card__item">
        <p class="home__card__item__small-title">Monto a Transferir</p>
        <p class="home__card__item__small-value">{{transfer.amount | number: '1.2-2'}}</p>
      </div>
      <div class="home__card__item">
        <p class="home__card__item__small-title">Moneda del abono</p>
        <p class="home__card__item__small-value">{{transfer.currency}}</p>
      </div>
      <div class="home__card__item">
        <p class="home__card__item__small-title">Importe Destino</p>
        <p class="home__card__item__small-value">{{transfer.destinationAmount}}</p>
      </div>
      <div class="home__card__item">
        <p class="home__card__item__small-title">Moneda Destino</p>
        <p class="home__card__item__small-value">{{transfer.destinationCurrency}}</p>
      </div>


      <div class="home__card__item">
        <p class="home__card__item__small-title">Descripción</p>
        <p class="home__card__item__small-value aling-justify">{{transfer.description}}</p>
      </div>
      <div class="home__card__item" *ngIf="transfer.isTicket">
        <p class="home__card__item__small-title">Ticket (TC. Pref.)</p>
        <p class="home__card__item__small-value">{{transfer.numberTicket}}</p>
      </div>
      <div class="home__card__item" *ngIf="transfer.isTicketCommission">
        <p class="home__card__item__small-title">Comisión Preferencial</p>
        <p class="home__card__item__small-value">{{transfer.numberTicketCommission}}</p>
      </div>
      <div class="home__card__item" *ngIf="transfer.isTicketOtherCurrency">
        <p class="home__card__item__small-title aling-justify">Tipo de Cambio preferencial otra
          Moneda</p>
        <p class="home__card__item__small-value">{{transfer.numberTicketOtherCurrency}}</p>
      </div>
      <div class="home__card__item">
        <p class="home__card__item__small-title">Estado del Lote</p>
        <p class="home__card__item__small-value aling-justify">{{transfer.operationStatus}}</p>
      </div>
    </div>
  </div>

  <div class="col-md-12" *ngIf="transfer.fundSource != ''">
    <div class="transferencias__card align-left">
      <div class="home__card__item">
        <p class="home__card__item__small-title">Orígen de los Fondos</p>
        <p class="home__card__item__small-value aling-justify">{{transfer.fundSource}}</p>
      </div>
      <div class="home__card__item">
        <p class="home__card__item__small-title">Destino de los Fondos</p>
        <p class="home__card__item__small-value aling-justify">{{transfer.fundDestination}}</p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="col-md-12" *ngIf="!isVisibleFormDetail">
  <div class="col-md-2 wrapper">
    <button class="historical__btn-submit button__principal" (click)="handleSubmit()">Ver Detalle</button>
  </div>
</div>
<app-transfer-abroad-form-batch-detail [batchId]="batchId" *ngIf="isVisibleFormDetail"
  (onClose)="handleCloseFormDetail()">
</app-transfer-abroad-form-batch-detail>
