.text-pad {
  max-width: 110px;
}

.login__keyboard-row button {
  width: 30%;
  font-size: 13px;
}

.text-pad-clear {
  width: 65% !important;
}

.login__virtual-keyboard {
  display: block;
}

._div_center {
  padding-left: 55px;
}

.text-code-1 {
  font-family: Flexo;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #32335C;
}

.text-code-2 {
  font-family: Flexo;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #32335C; /* equivalente a text-gray-500 de Tailwind */
}
