.action-buttons-container {
  width: 1050px;
  margin-top: 20px;
  margin-bottom: 48px;
}

@media only screen and (max-width: 1400px) {
  .action-buttons-container {
    width: 800px;
    margin-bottom: 23px;
  }
}

.register-next-button {
  width: 300px;
}

.register-back-icon {
  width: 20px;
}
