<form name="passwordValidationForm" (ngSubmit)="passwordValidationForm.valid && handleSubmit()" #passwordValidationForm="ngForm"
  novalidate autocomplete="off">
  <div class="form-group">
    <label class="transferencias__label">Número de acceso</label>
    <label>{{accessNumber}}</label>
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': passwordValidationForm.submitted && !pass.valid }">
    <label for="password" class="transferencias__label">Clave de internet</label>
    <input type="password" class="input-simple" name="pass" tabindex="2" [(ngModel)]="password" #pass="ngModel" required />
  </div>
  <div class="row modal__container-button">
    <div class="offset-md-3 col-md-6 col-xs-12">
      <button type="submit" class="button__principal modal__button" [disabled]="!passwordValidationForm.valid">Aceptar</button>
    </div>
  </div>
  <div class="row modal__cancelar">
    <div class="col-md-12 col-xs-12">
      <a (click)="handleClose()" class="link-cancel-modal">CANCELAR</a>
    </div>
  </div>
</form>
