.login__p-alias {
  color: #fff;
  font-size: 16px;
  line-height: 17px;
  margin-top: 30px;
  margin-bottom: 65px
}

@media only screen and (max-width: 768px) {
  .login__p-alias {
      margin-bottom: 50px;
      margin-top: 35px
  }
}

.login__p-alias-firsttime {
  width: 60%;
  margin-bottom: 58px
}

.title-alias-1{
font-family: Flexo;
font-weight: 700;
font-style: Bold;
font-size: 22px;
padding-bottom: NONE;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color: #32335C;
}
.text-alias-2{
font-family: Flexo;
font-weight: 700;
font-style: Bold;
font-size: 16px;
padding-bottom: NONE;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color: #32335C;
}
