    <app-source-accounts [accountRequest]="accountDto" [disabled]="disabled"
    (onChange)="handleSourceAccountChanged($event)" #sourceAccount>
</app-source-accounts>
<app-afp-request-form (emitEvent)="handleDebtDetailChanged($event)" [isVisibleError]="isVisibleError"
    [message]="message">
</app-afp-request-form>
<app-currency-and-amount [disabled]="isDisabledForm" [isAmountDisabled]="true" [isCurrencyBlocked]="true"
    [amount]="paymentInformation.amount" [currency]="paymentInformation.currency"
    [sourceCurrency]="paymentInformation.sourceCurrency" [batchInformation]="paymentInformation"
    [isFlagVisible]="true" [showCompanyLimitsLink]="false" [preferentialExchangeTicket]="false"
    #currencyAndAmount (isShowFundsForm)="isShowFundsForm($event)">
</app-currency-and-amount>
<ng-container *ngIf="isVisible">
    <app-afp-debt-detail [disabled]="isDisabledForm" [ResponseModelsAfp]="ResponseModelsAfp"
            (ngOnChanges)="handleDebtDetailChanged($event)">
    </app-afp-debt-detail>
</ng-container>
<app-approvers-and-controllers [disabled]="isDisabledForm" [approversRequest]="approversDto"
    [amount]="paymentInformation.amount" [currency]="paymentInformation.currency"
    (onChange)="handleApproversAndControllersChanged($event)" #approversAndControllers>
</app-approvers-and-controllers>
<app-emails-input [disabled]="isPaymentSuccessful" [batchInformation]="paymentInformation" #emailInput>
</app-emails-input>
<div class="row helpers__hidden-small">
    <div class="col-md-12">
            <div class="alert alert-information">
                    <div class="row">
                            <p>El pago de aportes a AFP Futuro solo se puede autorizar de
                                    horas 8:30 AM a 20:00 PM y el
                                    pago de aportes a
                                    AFP Previsión solo de 9:00 AM a 20:00 PM. </p>
                            <p>NOTA.- El pago de planillas de AFP Futuro debe realizarse el
                                    mismo día de la preparación
                                    caso contrario su planilla no será procesada.</p>
                    </div>
            </div>
    </div>
</div>
<div *ngIf="!showMessageIsBlock">
<app-successful-operation-modal [processBatchId]="processBatchNumber" [isSuccessful]="isPaymentSuccessful"
[operationTypeId]="paymentInformation.operationTypeId"
[operationTypeName]="paymentInformation.operationTypeName">
</app-successful-operation-modal>
</div>

<app-information-panel [visible]="isValidFunds" *ngIf="isValidFunds"
[message]="'Debe ingresar origen y destino de fondos.'" [type]="'attention'"></app-information-panel>

<div class="row transferencia-ext__submit">
<div class="col-md-3">
    <button class="button__principal historical__button-secondary" *ngIf="!isPaymentSuccessful"
            (click)="handleValidate(currencyAndAmount.handleValidate()!,
            sourceAccount.handleValidate()!,approversAndControllers.handleValidate(),approversAndControllers.validateApproversLimit(),false)">ACEPTAR</button>
</div>
<div class="col-md-3" *ngIf="is_validbatchtoken">
    <button class="button__pre_save historical__button-secondary" *ngIf="!isPaymentSuccessful"
            (click)="handleValidate(currencyAndAmount.handleValidate()!,
            sourceAccount.handleValidate()!,approversAndControllers.handleValidate(),approversAndControllers.validateApproversLimit(),true)">
            ENVIAR A PREPARACIÓN MASIVA
    </button>
</div>
<div class="col-md-2">
    <button class="button__secondary historical__button-secondary button-program"
            [routerLink]="['/service-payments/afp']">
            <em class="fas fa-file"></em> NUEVO
    </button>
</div>
</div>

<app-token-modal [disabled]="isTokenFormDisabled" [isVisible]="isVisibleToken" (onSubmit)="handleTokenSubmit($event)"
(onClose)="isVisibleToken=false"></app-token-modal>
<app-modal [visible]="excedeedAmount" (onClose)="excedeedAmount=false" [size]="'md'">
<div class="app-modal-header col-md-12 col-sm-12">Saldo insuficiente </div>
<div class="app-modal-body col-md-12 col-sm-12">Estimado cliente, su operación será rechazada si no cuenta con fondos suficientes
    al momento de realizar la autorización.</div>
<div class="app-modal-footer col-md-12 col-sm-12"><button type="button" class="btn btn-primary"
            (click)="excedeedAmount=false; validationCismart();">Aceptar</button></div>
</app-modal>

<app-modal-is-block [showMessageIsBlock]="showMessageIsBlock" (onClose)="onClose($event);"></app-modal-is-block>

<app-pre-preparer-modal [isPreSave]="isPreSave" (prePreparer)="handleIsPreparer($event);"></app-pre-preparer-modal>
