.whatsapp-icon {
  position: fixed;
  right: 10px;
  bottom: 30vh;
  font-size: 2em;
  color: #02a03c;
  z-index: 1000;
  transition: transform 0.3s;
  font-weight: bold;
}
/* Para pantallas de tamaño medio (md) */
@media (max-width: 768px) {
  .whatsapp-icon {
    bottom: 30vh;
  }
}
/* Para teléfonos móviles */
@media (max-width: 480px) {
  .whatsapp-icon {
    bottom: 28vh;
  }
}
.whatsapp-icon:hover {
  color: #075e54;
  transform: scale(1.1);
}

.whatsapp-icon img {
width: 68px;
height: 68px;
border-radius: 0%;
margin-right: 15px;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

