<div class="row transferencia-ext__card">
    <div class="col-md-12">
      <h4 class="historical__h4">Cuenta destino</h4>
      <div class="transferencias__box transferencia-ext__box">
        <div class="transferencias__card card-destination">
          <div class="home__card__item">
            <p class="home__card__item__small-title">Nombre o razón social</p>
            <p class="home__card__item__small-value">{{detail.beneficiaryBusinessName}}</p>
          </div>
          <div class="home__card__item">
            <p class="home__card__item__small-title">Dirección</p>
            <p class="home__card__item__small-value">{{detail.beneficiaryAddress}}</p>
          </div>
          <div class="home__card__item home__card__sub-item">
            <div>
              <p class="home__card__item__small-title">Número de documento</p>
              <p class="home__card__item__small-value">{{detail.beneficiaryDocumentNumber}}</p>
            </div>
            <div>
              <p class="home__card__item__small-title">Tipo</p>
              <p class="home__card__item__small-value">{{documentType}}</p>
            </div>
          </div>
          <div class="home__card__item">
            <p class="home__card__item__small-title">Ciudad de residencia</p>
            <p class="home__card__item__small-value">{{detail.beneficiaryCityResidence}}</p>
          </div>
          <div class="home__card__item">
            <p class="home__card__item__small-title">Número de Cuenta/IBAN (Europa)</p>
            <p class="home__card__item__small-value">{{detail.beneficiaryNumberAccount}}</p>
          </div>
          <div class="home__card__item">
            <p class="home__card__item__small-title">País de residencia</p>
            <p class="home__card__item__small-value">{{detail.beneficiaryCountryResidence}}</p>
          </div>
          <div class="home__card__item">
            <p class="home__card__item__small-title">Concepto de pago</p>
            <p class="home__card__item__small-value">{{detail.beneficiaryPaymentConcept}}</p>
          </div>
          <div class="home__card__item">
            <p class="home__card__item__small-title">Teléfono</p>
            <p class="home__card__item__small-value">{{detail.beneficiaryPhone}}</p>
          </div>
          <div class="home__card__item">
            <p class="home__card__item__small-title">Correo electrónico</p>
            <p class="home__card__item__small-value">{{detail.beneficiaryEmail}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
