.dialog-title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: -30px;
}

.button-orange {
  background-color: #67d6f1;
  color: white;
  font-size: 14px;
}

.button-white {
  background-color: white;
  color: #34B1CF;
  border: 1px solid #67d6f1;
  text-decoration: none;
  font-size: 14px;
}

.button-orange,
.button-white {
  width: 322px;
  height: 37px;
  border-radius: 6px;
}

.button-white {
  margin: 10px 0px 0px 0px !important;
}

.dialog-actions {
  justify-content: center;
  flex-direction: column;
}
