<div class="row historical__box historical__period-calendar">
    <div class="col-md-12">
      <div>
        <label class="historical__label" *ngIf="selectText.length>0">{{selectText}}</label>
        <select name="typeOperation" class="input-simple" [(ngModel)]="newDate" (change)="onChangeMonth()">
          <option *ngIf="isVisibleSelected" value='' disabled>(Seleccione el mes)</option>
          <option *ngFor="let months of arrayMonths" [ngValue]="months.month">{{ months.descriptionMonth }}</option>
          <option *ngIf="isVisibleAllMonths" value="'Todos los meses'">Todos los meses</option>
        </select>
      </div>
    </div>
  </div>