

<div class="onboarding-font p-2 max-w-2xl mx-auto bg-white rounded-md shadow-lg">
  <!-- Header con título y botón de cerrar -->
  <div class="flex items-center justify-between mb-0.5">
    <h2 class="text-lg font-bold text-gray-800 text-center flex-1">
      Roles de acceso CredineWeb
    </h2>
    <button
      class="ml-4 p-1 rounded-full hover:bg-gray-200 transition-colors "
      (click)="dialogRef.close()"
      mat-icon-button
    >
      <mat-icon class="text-gray-600">close</mat-icon>
    </button>
  </div>

  <!-- Roles Container -->
  <div class="space-y-6 mb-4 mx-2">

     <img
    src="../../../../../assets/new-face/images/register/access-roles-1.png"
    alt="role-1"
    class="role-image-1 object-cover"
  />
  <img
    src="../../../../../assets/new-face/images/register/access-roles-2.png"
    alt="role-2"
    class="role-image-2"
  />
  <img
    src="../../../../../assets/new-face/images/register/access-roles-3.png"
    alt="role-3"
    class="role-image-2"
  />

  </div>
</div>
