input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
	cursor: pointer;
	width:150px;
	height:40px;
	margin-left: 10px
}
.spantext {
	padding: 6px 12px;
	margin-left: 10px;
	display: inline-block;
}
