<fieldset [disabled]="disabled"><legend></legend><br>
  <app-amount-account-verificated [amount]="batchInformation.amount" [totalErrors]="totalErrors" [totalCorrects]="totalCorrects"
  [haveErrors]="haveErrors" [errorsDetail]="errorsDetail" [currency]="batchInformation.currency" (onAddRow)="handleShowAdditionForm()">
  </app-amount-account-verificated>
  <div *ngIf="visible">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12  col-sm-12">
            <table class="cw-table table-striped"><caption></caption>
              <thead>
                <tr>
                  <th *ngIf="headers.code">Código</th>
                  <th *ngIf="headers.line">Linea</th>
                  <th *ngIf="headers.bankDescription">Banco</th>
                  <th *ngIf="headers.branchOfficeDescription">Ciudad</th>
                  <th *ngIf="headers.targetAccount">Cuenta Destino</th>
                  <th *ngIf="headers.beneficiary">Razon Beneficiario</th>
                  <th *ngIf="headers.amount">Monto</th>
                  <th *ngIf="headers.details">Detalle</th>
                  <th *ngIf="headers.mail">Correo electrónico</th>
                  <th>Acciones</th>
                  <th>
                    <button (click)="showFilter=!showFilter" class="table-filter"><em class="fas fa-plus"></em></button>
                    <div class="historical__box table-filter--hidden" [ngClass]="{'show-filter':showFilter}">
                      <ul>
                        <li>
                          <label class="checkbox">
                            <input type="checkbox" [(ngModel)]="headers.code">
                            <span class="check"></span>
                          </label>
                          <p>Código</p>
                        </li>
                        <li>
                            <label class="checkbox">
                              <input type="checkbox" [(ngModel)]="headers.line">
                              <span class="check"></span>
                            </label>
                            <p>Linea</p>
                          </li>
                        <li>
                          <label class="checkbox">
                            <input type="checkbox" [(ngModel)]="headers.bankDescription">
                            <span class="check"></span>
                          </label>
                          <p>Banco</p>
                        </li>
                        <li>
                          <label class="checkbox">
                            <input type="checkbox" [(ngModel)]="headers.branchOfficeDescription">
                            <span class="check"></span>
                          </label>
                          <p>Ciudad</p>
                        </li>
                        <li>
                          <label class="checkbox">
                            <input type="checkbox" [(ngModel)]="headers.targetAccount">
                            <span class="check"></span>
                          </label>
                          <p>Cuenta Destino</p>
                        </li>
                        <li>
                          <label class="checkbox">
                            <input type="checkbox" [(ngModel)]="headers.beneficiary">
                            <span class="check"></span>
                          </label>
                          <p>Razon Beneficiario</p>
                        </li>
                        <li>
                          <label class="checkbox">
                            <input type="checkbox" [(ngModel)]="headers.amount">
                            <span class="check"></span>
                          </label>
                          <p>Monto</p>
                        </li>
                        <li>
                          <label class="checkbox">
                            <input type="checkbox" [(ngModel)]="headers.details">
                            <span class="check"></span>
                          </label>
                          <p>Detalle</p>
                        </li>
                        <li>
                          <label class="checkbox">
                            <input type="checkbox" [(ngModel)]="headers.mail">
                            <span class="check"></span>
                          </label>
                          <p>Correo electrónico</p>
                        </li>
                      </ul>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr [ngClass]="{'error':row.isError}" *ngFor="let row of spreadsheetPerPage" data-toggle="tooltip"
                  data-placement="top" data-html="true" title="{{row.errorMessages}}">
                  <td *ngIf="headers.code" title="Código">{{row.code}}</td>
                  <td *ngIf="headers.line" title="Linea">{{row.line}}</td>
                  <td *ngIf="headers.bankDescription" title="Banco">{{row.bankDescription}}</td>
                  <td *ngIf="headers.branchOfficeDescription" title="Glosa">{{row.branchOfficeDescription}}</td>
                  <td *ngIf="headers.targetAccount" title="Cuenta Destino">{{row.accountNumber}}</td>
                  <td *ngIf="headers.beneficiary" title="Razon Beneficiario">{{row.titularName}}</td>
                  <td *ngIf="headers.amount" title="Monto">{{row.amount | number: '1.2-2'}}</td>
                  <td *ngIf="headers.details" title="Detalle">{{row.secondDetail}}</td>
                  <td *ngIf="headers.mail" title="Correo electrónico">{{row.mail}}</td>
                  <td title="Acciones" class="actions" colspan="2">
                    <a (click)="handleShowEditForm(row)"><em class="fas fa-edit"></em></a>
                    <a (click)="handleTryToRemoveRow(row.line)"><em class="fas fa-trash"></em></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-modal [visible]="showDetailForm" (onClose)="showDetailForm=false" [size]="'lg'" [manualCloseModal]="true">
    <div class="app-modal-header col-md-12 col-sm-12">{{operation === 1 ? 'Modificar fila' : 'Agregar fila'}}</div>
    <div class="app-modal-body col-md-12 col-sm-12">
      <form name="detailForm" #detailForm="ngForm" novalidate autocomplete="off">
        <div class="row haberes__modal__inputs">
          <div class="col-md-6 inputs ">
            <div class="input-numero">
              <label>Banco</label>
              <select class="input_modal_1" class="historical__select-account input-simple helpers__select-modal" name="bankDescription"
                [(ngModel)]="bank" (ngModelChange)="selectBank()" #bankDescription="ngModel" required>
                <option *ngFor="let bank of banks" [ngValue]="bank">{{bank.description}}</option>
              </select>
              <app-show-errors [control]="bankDescription"></app-show-errors>
            </div>
          </div>
          <div class="col-md-6 inputs ">
            <div class="input-numero">
              <label>Ciudad</label>
              <select class="historical__select-account input-simple helpers__select-modal" name="branchOfficeDescription"
                [(ngModel)]="branchOffice" (ngModelChange)="selectBranchOffice()" #branchOfficeDescription="ngModel"
                required>
                <option *ngFor="let branchOffice of branchOffices" [ngValue]="branchOffice">{{branchOffice.description}}</option>
              </select>
              <app-show-errors [control]="branchOfficeDescription"></app-show-errors>
            </div>
          </div>
        </div>
        <div class="row haberes__modal__inputs">
          <div class="col-md-6 inputs ">
            <div class="input-numero">
              <label>Cuenta destino</label>
              <input class="input_modal_1" type="text" name="account" [(ngModel)]="detail.accountNumber" #account="ngModel" equired
                appOnlyType="integer" appValidate="integer" minlength="5" [appMaxLength]="20">
              <app-show-errors [control]="account"> </app-show-errors>
            </div>
          </div>
          <div class="col-md-6 inputs ">
            <div class="input-numero">
              <label>Razon Beneficiario</label>
              <input class="input_modal_1" type="text" name="beneficiary" [(ngModel)]="detail.titularName" #beneficiary="ngModel" appOnlyType="alphanumericBasicSymbols"
                appValidate="alphanumericBasicSymbols" maxlength="40" required>
              <app-show-errors [control]="beneficiary"> </app-show-errors>
            </div>
          </div>
        </div>
        <div class="row haberes__modal__inputs">
          <div class="col-md-6 inputs ">
            <div class="input-numero">
              <label>Monto</label>
              <input class="input_modal_1" type="text" name="amount" [(ngModel)]="detail.amount" #amount="ngModel" required mask-money
                [appMaxLength]=16 appValidate="majorZero">
              <app-show-errors [control]="amount"></app-show-errors>
            </div>
          </div>
          <div class="col-md-6 inputs ">
            <div class="input-numero">
              <label>Detalles</label>
              <input class="input_modal_1" type="text" name="details" [(ngModel)]="detail.secondDetail" #details="ngModel" appOnlyType="alphanumericBasicSymbols"
                appValidate="alphanumericBasicSymbols" maxlength="40">
              <app-show-errors [control]="details"></app-show-errors>
            </div>
          </div>
        </div>
        <div class="row haberes__modal__inputs">
          <div class="col-md-6 inputs ">
            <div class="input-numero">
              <label>Correo electrónico</label>
              <input class="input_modal_1" type="email" name="email" [(ngModel)]="detail.mail" #email="ngModel" appValidate="emailOptional"
                [appMaxLength]="90">
              <app-show-errors [control]="email"></app-show-errors>
            </div>
          </div>
          <div class="col-md-6 inputs ">
            <div class="input-numero">
              <label>Código</label>
              <input class="input_modal_1" type="code" name="code" [(ngModel)]="detail.code" #code="ngModel" appOnlyType="alphanumericBasicSymbols"
                appValidate="alphanumericBasicSymbols" [appMaxLength]='12' required>
              <app-show-errors [control]="code"></app-show-errors>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="app-modal-footer col-md-12 col-sm-12">
      <div class="row modal__container-button" style="justify-content: center; display: flex;">
          <div class="col-md-4 col-xs-12" style="text-align: center;">
          <button class="button__principal modal__button" (click)="handleValidate()">{{operation===1?'ACEPTAR':'GUARDAR'}}</button>
        </div>
      </div>
      <div class="row modal__cancelar" style="justify-content: center; display: flex;">
          <div class="col-md-12 col-xs-12" style="text-align: center;">
          <a (click)="handleCancel()" class="link-cancel-modal">CANCELAR</a>
        </div>
      </div>
    </div>
  </app-modal>
  <app-modal [visible]="showRemoveRowForm" (onClose)="showRemoveRowForm=false" [size]="'sm'">
    <div class="app-modal-header col-md-12 col-sm-12">Eliminación de información</div>
    <div class="app-modal-body col-md-12 col-sm-12">¿Está seguro de eliminar esta línea de la planilla?</div>
    <div class="app-modal-footer col-md-12 col-sm-12">
      <div class="row modal__container-button">
        <div class="offset-md-3 col-md-6 col-xs-12">
          <button class="button__principal modal__button" (click)="handleRemove()">ELIMINAR</button>
        </div>
      </div>
      <div class="row modal__cancelar">
        <div class="col-md-12 col-xs-12 flex justify-center">
          <a (click)="showRemoveRowForm=false" class="link-cancel-modal">CANCELAR</a>
        </div>
      </div>
    </div>
  </app-modal>
</fieldset>
