<section class="row">
    <div class="home__subtitle col-md-12">
        <div class="row header__title-bar ">
            <div class="col-md-12">
                <h3>Preguntas Frecuentes</h3>
            </div>
        </div>
    </div>
    <div class="offset-md-2 col-md-8 mb-4">
        <div id="accordion">
            <div class="card">
                <div class="card-header border-heading" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link item-acordion-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            1. ¿Cuáles son los requisitos para acceder a los servicios de Credinet Web?
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <p class="login-description">
                            Ser cliente del banco, mantener cuentas de ahorro o cuentas corrientes.
                            Enviar al ejecutivo comercial o funcionario de negocios la cartilla de instructivo para la
                            elaboración del contrato y posterior firma del mismo por parte de los representantes
                            legales de la empresa.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card mt-1">
                <div class="card-header border-heading" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed item-acordion-title" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            2. ¿Cuál es línea gratuita de soporte para Credinet Web?
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <p class="login-description">Puede contactase al 800-10-2244</p>
                    </div>
                </div>
            </div>
            <div class="card mt-1">
                <div class="card-header border-heading" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed item-acordion-title" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            3. ¿Cuál es el buzón de correo para soporte Credinet Web de solicitudes y consultas?
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <p class="login-description">Puede contactarse al BolHdSpE&#64;bancred.com.bo</p>
                    </div>
                </div>
            </div>
            <div class="card mt-1">
                <div class="card-header border-heading" id="headingFour">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed item-acordion-title" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        4. ¿Cuál es el teléfono de Mesa de dinero para ticket de cambio y comisiones
                            preferenciales?
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        <p class="login-description">
                            Puede contactarse al 800-10-9995
                        </p>
                    </div>
                </div>
              </div>
            <div class="card mt-1">
                <div class="card-header border-heading" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed item-acordion-title" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            5. ¿Quién es el ejecutivo comercial asignado a mi empresa?
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                        <p class="login-description">
                            Puede contactarse con nuestra línea gratuita de Help Desk 800-10-2244 o al área de Servicio
                            para Empresas
                        </p>
                        <p class="login-description">
                            <strong>Estimado cliente</strong><br>
                            Para contactarte con nosotros puedes llamar a los siguientes números:
                        </p>
                        <ul>
                            <li>La Paz 211-4141</li>
                            <li>Santa Cruz 311-4141</li>
                            <li>Cochabamba 411-4141</li>
                            <li>Resto de Departamentos 211-4141</li>
                        </ul>
                        <p class="login-description">
                            Estamos para ayudarte ante cualquier consulta las 24 horas del día, los 365 días del año.
                            También puedes contactarte al correo electrónico
                            <a href="mailto:BxT&#64;bcp.com.bo">BxT&#64;bcp.com.bo</a><br>
                            Si estás en el exterior del país, puedes registrarnos también como contacto en WhatsApp, con
                            el número 72002244 y enviarnos tu consulta por este medio que nos permitirá atenderte en
                            línea para brindarte la ayuda que necesitas.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card mt-1">
                <div class="card-header border-heading" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed item-acordion-title" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            6. ¿Qué horarios tienen las operaciones manuales en Credinet Web?
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                    <div class="card-body">
                        <p class="login-description">
                            Puede acceder a nuestros horarios en la página de ingreso al Credinet Web “Funciones y
                            Características” / Horarios y Oficinas
                        </p>
                    </div>
                </div>
            </div>
            <div class="card mt-1">
                <div class="card-header border-heading" id="headingSeven">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed item-acordion-title" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            7. ¿Dónde obtengo los macros de Pagos Masivos?
                        </button>
                    </h5>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                    <div class="card-body">
                        <p class="login-description">
                            Puede acceder a los macros en la página de ingreso al Credinet Web “Funciones y
                            Características” / Guía Pagos Masivos
                        </p>
                    </div>
                </div>
            </div>
            <div class="card mt-1">
                <div class="card-header border-heading" id="headingEight">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed item-acordion-title" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            8. Códigos Swift de bancos en el extranjero:
                        </button>
                    </h5>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                    <div class="card-body">
                        <p class="login-description">
                            Puede contactarse con el área de Negocios Internacionales para realizar la consulta del
                            código Swift del banco en el exterior al 217500 int. 2367 o al buzón de correo:
                            NegociosInternacionalesBol&#64;bancred.com.bo
                        </p>
                    </div>
                </div>
            </div>
            <div class="card mt-1">
                <div class="card-header border-heading" id="headingNine">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed item-acordion-title" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                            9. ¿Qué hacer cuando las tarjetas de Usuario se bloquean?
                        </button>
                    </h5>
                </div>
                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                    <div class="card-body">
                        <p class="login-description">
                            Debe contactarse con la línea gratuita 800102244, donde tiene 2 opciones Op. 1 Desbloqueo
                            Automático siguiendo los pasos Op. 2 Comunicarse con HD.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card mt-1">
                <div class="card-header border-heading" id="headingTen">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed item-acordion-title" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                            10. ¿Qué hacer cuando la Dispositivo Token se bloquea?
                        </button>
                    </h5>
                </div>
                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                    <div class="card-body">
                        <p class="login-description">
                            Puede contactarse con nuestra línea gratuita de Help Desk 800-10-2244 para realizar en
                            línea una nueva sincronización en línea de su dispositivo Token.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card mt-1">
                <div class="card-header border-heading" id="headingEleven">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed item-acordion-title" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                            11. ¿Qué hacer cuando la tarjeta Token se daña o extravía?
                        </button>
                    </h5>
                </div>
                <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
                    <div class="card-body">
                        <p class="login-description">
                            Debe contactarse con nuestra área de Servicio para Empresas para solicitar una reposición
                            de la tarjeta Token
                        </p>
                    </div>
                </div>
            </div>
            <div class="card mt-1">
                <div class="card-header border-heading" id="headingTwelve">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed item-acordion-title" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                            12. ¿Cómo incluir o quitar a usuarios autorizadores en Credinet Web?
                        </button>
                    </h5>
                </div>
                <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
                    <div class="card-body">
                        <p class="login-description">
                            Contactar a su ejecutivo comercial para solicitar el Anexo de Autorizadores donde podrá
                            incluir a nuevos autorizadores.
                            En caso de necesitar retirar un usuario autorizador, debe enviar una carta con firmas
                            autorizadas con las respectivas instrucciones
                        </p>
                    </div>
                </div>
            </div>
            <div class="card mt-1">
                <div class="card-header border-heading" id="headingThirteen">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed item-acordion-title" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                            13.¿Dónde obtengo los anexos para modificaciones en Credinet Web?
                        </button>
                    </h5>
                </div>
                <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordion">
                    <div class="card-body">
                        <p class="login-description">
                            Contactar a su ejecutivo comercial y solicitar el Anexo correspondiente
                        </p>
                    </div>
                </div>
            </div>
            <div class="card mt-1">
                <div class="card-header border-heading" id="headingFourteen">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed item-acordion-title" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                            14. ¿Cómo adicionar una cuenta al sistema Credinet Web?
                        </button>
                    </h5>
                </div>
                <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordion">
                    <div class="card-body">
                        <p class="login-description">
                            En caso de necesitar retirar un usuario debe enviar una carta con firmas autorizadas con las
                            respectivas instrucciones. Otra alternativa es ingresar a solicitud de modificaciones y
                            realizar la operación de cambios en su Credinet Web.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card mt-1">
                <div class="card-header border-heading" id="headingFifteen">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed item-acordion-title" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                            15. ¿Cuáles son los requisitos para incrementar el límite de operaciones de empresa?
                        </button>
                    </h5>
                </div>
                <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordion">
                    <div class="card-body">
                        <p class="login-description">Ingresar a solicitudes de modificación.</p><br>
                        <p class="login-description"><strong>CONTACTANOS</strong><br></p>
                        <div class="row">
                            <div class="col-md-6"><p class="login-description">HELP DESK</p></div>
                            <div class="col-md-6"><p class="login-description">800-10-2244</p></div>
                        </div>
                            <table class="cw-table table-striped">
                                <caption></caption>
                                <thead>
                                    <th class="text-center">Ciudad</th>
                                    <th class="text-center">Teléfono</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">LA PAZ</td>
                                        <td class="text-center">2175000 Int. 5111 ó 5116</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">SANTA CRUZ</td>
                                        <td class="text-center">3175000 Int. 3434 ó 3408</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">COCHABAMBA</td>
                                        <td class="text-center">4175000 Int. 4325</td>
                                    </tr>
                                </tbody>
                            </table>

                        <div class="row"><br>
                            <div class="col-md-6"><p class="login-description">LA PAZ</p></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><p class="login-description">Planeamiento y Desarrollo Comercial Banca Empresa</p></div>
                            <div class="col-md-6"><p class="login-description">2175000 Int. 2554 ó 2556</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
