<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="Cache-Control" />
        <remove name="X-Content-Type-Options" />
        <remove name="X-Powered-By" />
        <remove name="X-UA-Compatible" />
        <remove name="Server" />
        <!-- Seguridad general -->
        <add name="X-XSS-Protection" value="1" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-UA-Compatible" value="IE=edge" />
        <add name="Strict-Transport-Security" value="max-age=31536000" />
        <!-- CSP temporal funcional -->
        <add name="Content-Security-Policy" value="frame-ancestors 'self';" />
        <!-- Políticas adicionales -->
        <add name="Referrer-Policy" value="no-referrer" />
        <add name="Permissions-Policy" value="accelerometer=(), camera=self, geolocation=(), gyroscope=(), magnetometer=(), microphone=self, payment=(), usb=()" />
        <add name="Cross-Origin-Resource-Policy" value="same-site" />
        <add name="Cross-Origin-Embedder-Policy" value="same-origin" />
        <add name="Cross-Origin-Opener-Policy" value="same-origin" />
        <add name="Expect-CT" value="max-age=7776000" />
      </customHeaders>
    </httpProtocol>
    <!-- Manejo de errores -->
    <httpErrors>
      <remove statusCode="502" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <error statusCode="401" prefixLanguageFilePath="" path="#{_w_webConfig_Redirect}#" responseMode="Redirect" />
      <error statusCode="404" prefixLanguageFilePath="" path="#{_w_webConfig_Redirect}#" responseMode="Redirect" />
      <error statusCode="403" prefixLanguageFilePath="" path="#{_w_webConfig_Redirect}#" responseMode="Redirect" />
      <error statusCode="502" prefixLanguageFilePath="" path="#{_w_webConfig_Redirect}#" responseMode="Redirect" />
    </httpErrors>
    <!-- Reescritura de URLs de Angular -->
    #{_w_rewrite}#
  </system.webServer>

  <system.web>
    <httpCookies httpOnlyCookies="true" requireSSL="true"/>
  </system.web>
</configuration>
