<!-- <div *ngIf="loading" class="fixed top-0 left-0 z-50 w-full h-full bg-gray-200 bg-opacity-10 flex justify-center items-center">
  <div class="relative flex space-x-4">
    <div class="animate-spin rounded-full h-12 w-12 border-t-4 border-blue-500 border-white -rotate-45" style="border-top-color: #34B1CF;"></div>
    <div class="animate-spin rounded-full h-12 w-12 border-t-4 border-blue-500 border-white rotate-90" style="border-top-color: #2a91a8;"></div>
    <div class="animate-spin rounded-full h-12 w-12 border-t-4 border-blue-500 border-white rotate-180" style="border-top-color: #153F7B;"></div>
    <ng-content class="absolute top-full mt-4 text-white text-sm"></ng-content>
  </div>
</div>
 -->
